

.form-container {
  position: relative;
    display: grid;
    width: 50%;
    border: 3px solid #ccc;
    border-radius: 20px;
    background-color: #f9f9f9;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    background-image: url("../../assets/createfont.jpg");
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
  }

 


  .form{
    width: 480px;
    padding: 10px;
  }

  .data-form{
    display: grid;
    width: 100%;
    grid-template-columns: 15% 400px;
    grid-template-rows: 30px 20px;
    flex-direction: column;
	  position: relative;
	  padding-top: 0.1rem;
	  &+.input {
		  margin-top: 0.5rem;
	  }

  }

  .form-container label{
    display: flex;
    padding: 5px;
    justify-content: flex-start;
    color: #6658d3;
	  top: 1.5rem;
	  transition: .25s ease;
  }

  .form-container input{
    width: 100%;
    justify-self: flex-end;
    padding-bottom: 0px;

    border: 1.4px solid #ccc;
    border: 0;
	  z-index: 1;
    background-color: transparent;
	  border-bottom: 2px solid #eee; 
	  font: inherit;
	  font-size: 1rem;
	  padding: .25rem 0;
	  &:focus, &:valid {
		  outline: 0;
		  border-bottom-color: #6658d3;
		  &+.input-label {
			  color: #6658d3;
			  transform: translateY(-1.5rem);
		  }
	  }
  }

  .form-container p{
    grid-column: 1/4;
    text-align:end;
    padding-right: 10px;
    padding-top: 0px;
    color: red;
    font-size: 0.7em;
    align-self:flex-start;
  }
  

.form-container label {
    font-size: 1.0em;
    font-weight: bold;
  }
  
  .form-container h2 {
    width: 100%;
    align-content: center;
    text-align: center;
    border: 1px solid #000000;
    border-radius: 10px;
    background-color: #cdc9f1;
  }
  

  

  .form-container select,
  .form-container button {
    width: 100%;
    height: 35px;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-container input[type='number'] {
    width: calc(100% - 16px); /* Consider input padding */
  }
  
  
  .form-container ul {
    list-style: none;
    padding-left: 0;
  }
  
  .form-container li {
    display: inline-block;

  }
  
  .form-container button[type='button'] {
    width: 100px;
    height: 30px;
    background-color: #ff6347;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .form-container button[type='submit'] {
    width: 100px;
    height: 30px;
    background-color: #6658d3;
    align-content: center;
    color: #000000;
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
  }
  
  .form-container button[type='submit']:disabled {
    width: 100px;
    height: 30px;
    padding: 8px;
    background-color:#cdc9f1;
    cursor: not-allowed;
  }
  

.data-types{
  display: grid;
  flex-direction: column;
  grid-template-columns: 20% 1fr;
  position: relative;
  padding-top: 0.9rem;
}

.new-types{
  display: flex;
  padding-top: 10px;
  flex-direction: row;
  width: 450px;
  justify-content: flex-end;
}
 

.submit{
  padding-top: 60px;
}

.type-card{
  display: flex;
  flex-direction: column-reverse;
}