

  .button-list {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2px;
    padding-left: 0px;

  }
  
  .card-button {
    display: flex;
    width: calc(14.28% - 20px); /* 100% / 7 botones por fila - espacios entre ellos */
    height: calc(28% - 20px);
    padding: 2px;
    background-color: transparent;
    border-radius: 8px;
    justify-content: center;
    
  }
  
  .button-filter {
    width: 100%;
    height: 100%;
    padding: 5px;
    background-color: #ffffb7;
    color: #070707;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.85em;
    justify-content: center;
    font-weight: bold;
    border: 1px solid #070707;
    text-transform: capitalize;
  }
  
 .button-filter:hover {
    background-color: #bdb7eb;
    color: #000000;
  }
  
  .active-button {
    background-color: #bdb7eb;
    color: #000000;
  }